@import "../../../../node_modules/bourbon/app/assets/stylesheets/bourbon";

:global html, :global body {
  margin: 0;
  padding: 0;
}

:global body {
  @include linear-gradient(#000, rgba(#00f, 0.15));
  color: #fff;
  font-family: 'VT323';
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #aaa;
  font-size: 42px;
  margin-bottom: 30px;
}
